<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- this allows us to store the base url independently of the code -->
		<add key="base_url" value="http://api.musixmatch.com/ws/1.1/"/>
		<add key ="api_key" value="f4d17d40615a155df29e66610a866812"/>
	</appSettings>
</configuration>